<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GF_JuHeMovie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC8B2EC71CA4DCE7002FF0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8B2EE01CA4DCE8002FF0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8B2EEB1CA4DCE8002FF0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
